$primary-font-family: "ff-enzo-web",tahoma,sans-serif;
$primary-font-size: .85em;
$primary-font-color: white;
$secondary-font-color: black;
$tertiary-font-color: darkgray;
$primary-bg-color: whitesmoke;
$primary-display: flex;
$margin: 0px;



header {
    display: block;
    color: $primary-font-color;
    font-size: $primary-font-size;
    width:100%;

    
    .sale {
        display: $primary-display;
        background-color: orangered;
        padding: 5px;

        .free {
            display: $primary-display;
            margin: $margin;
            margin-left: 10%;
            margin-right: 2%;
            background-color: darkred;
        }

        .save {
            display: $primary-display;
            justify-content: space-between;
            margin-top: 0px;
            width: 45%;
        }
    }     
    
    nav {
        display: block;


        .logo {
            display: inline-block;
            margin-left: 9.5%;
            width: 15%;
        }

            #logo {
                width: 100%;
            }

        #menu {
            display: inline-block;
            width: 50%;
            margin: 0px;

            padding: 0px;

            list-style-type: none;
            

            li {
                display: inline-block;
                font-size: 1.5em;
                color: $secondary-font-color;
                margin: 0px;
                padding: 3%;
                vertical-align: top;
            }
            
        }

        #cart {
            display: inline-block;
            width: 110px;
            height: 35px;
            margin-top: 60px;
            margin-left: 5px;
            border: 1px solid lightgray;
            border-radius: 3px;

            .cart {
                width: 10%;
            }

            p {
                display: inline;
                color: $tertiary-font-color;
            }

            .count {
                display: inline;
                background-color: lightgray;
                width: 5%;
                padding: 0px;
                vertical-align: middle;
            }
        }

        .search {
            display: $secondary-display;
            margin-top: 63px;
            margin-left: 1%;
            border: 1px solid lightgray;
            border-radius: 2px;

            input {
                display: inline;
                margin-bottom: 4px;
                border: none;
            }

            #tool {
                display: inline;
                width: 15px;
                margin-top: 3px;
            }
        }

        
    }

    .ties {
        display: block;
        color: $secondary-font-color;
        background-color: $primary-bg-color;

        #styles {
            
            li{
                float: left;
                list-style-type: none;
                margin-bottom: 50px;
                width: 10%;
                padding-left: 10px;
                vertical-align: top;

                .label {
                    text-align: center;
                }
            }
        }

        h1 {
           display: block;
           padding: 50px;
           font-size: 3em;
           font-weight: 300;
           text-align: center; 
        }
    }    

    
}


