$primary-font-family: "ff-enzo-web",tahoma,sans-serif;
$primary-font-size: .85em;
$primary-font-color: white;
$secondary-font-color: black;
$tertiary-font-color: darkgray;
$primary-bg-color: whitesmoke;
$primary-display: block;
$secondary-display: inline-block;
$margin: 0px;


main {
    display:$primary-display;

    .accessories {
        display: block;

        #container {
            display: flex;
            height: 257px;

            .image {
                position: relative;
                left: 80px;
                height: 200px;
                margin-bottom: 0px;
                margin-right: 20px;
                border: 1px solid lightgray;
            }
        }
    }

    .story {
        display: $primary-display;
        width: 100%;
        border-bottom-width: 100%;
        border-bottom: 3px dotted lightgray;
        margin-top: 80px;
        text-align: center;
       

        h2 {
            display: $primary-display;
            font-size: 2em;
            font-style: italic;
            font-weight: 300;
            margin-top: 0px;
            padding:0px;
        }
        a{
            display: $primary-display;
            margin-bottom: 70px;
            color: dodgerblue;
            text-decoration: none;
        }
    }

    .news {
        display: $primary-display;

        h3 {
            font-size: 1em;
        }
        #weekly, #loop, #quarter, #guide {
            float: left;
            position: relative;
            left: 80px;
            width: 20%;
            margin-left: 0px;
            margin-right: 3%;
            margin-top: 30px;
            margin-bottom: 40px;

            .weekly, .guide {
                display: $primary-display;
                height: 140px;
                margin: 0px;
                border: 1px solid lightgray;
                border-radius: 2px;
            }
            a {
                font-size: .84em;
                text-decoration: none;
            }
            p {
                color: $secondary-font-color;
            }
            #email {
                margin-top: 10px;
                border-radius: 2px;
            }
            button {
                margin-top: 10px;
                background-color: dodgerblue;
                color: white;
                border-radius: 3px;
            }
        }
    }

    .links {
        display: $primary-display;
        height: 220px;
        background-color: whitesmoke;

        h4 {
            font-size: .9em;
            margin: 0px;
        }
        #shop, #about, #style, #help {
            float: left;
            position: absolute;
            width: 10%;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }   
}